html {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 350px;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Gorditas', cursive;
    background: url(./assets/1.jpg);
    background-repeat: repeat-x;
    background-color: #7fe0e9;
    overflow: hidden;
}

.game {
    position: relative;
    grid-column: 1 / 2;
}

.stone {
    position: absolute;
    bottom: -5%;
    width: 100%;
    min-height: 300px;
    background-image: url(./assets/stone.png);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}

.sea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.drop {
    position: absolute;
    top: -5%;
    left: 20%;
    width: 130px;
    height: 130px;
    background-image: url(./assets/35324-water-droplet-images.png);
    background-size: contain;
    opacity: 0;
}

.drop span {
    position: absolute;
    font-size: 25px;

}

.drop_lucky {
    background-image: url(./assets/luckyDrop.png);
}

.drop_active {
    top: 95%;
    opacity: 1;
    transition: top 3s linear;
}

.drop_crushed {
    background-image: url(./assets/crush.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.drop-lucky_crushed {
    background-image: url(./assets/luckyCrush.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.task {
    font-style: inherit;
}

.task__number_first {
    right: 28%;
    top: 40%;
}

.task__number_second {
    right: 28%;
    bottom: 15%;
}

.task__operator {
    right: 55%;
    top: 50%;
}

.wave {
    width: 7000px;
    height: 100%;
    background-image: url(./assets/wave_top.png);
    background-repeat: repeat-x;
}

.wave_bottom {
    position: inherit;
    animation: waves 10s infinite linear;
}

.wave_middle {
    background-image: url(./assets/wave_top_opacity.png);
    opacity: .8;
    position: inherit;
    animation: waves 14s infinite linear;
}

.wave_top {
    opacity: .7;
    animation: waves 17s infinite linear;
}

@keyframes waves {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1938px;
    }
}

h1 {
    margin: 0;
    font-size: 55px;
    color: #F2C15E;
    text-shadow: 6px 0px #333;
}

h2 {
    margin: 0;
    margin-bottom: 15px;
}

.settings {
    width: 80%;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.operation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    height: 40px;
    font-family: inherit;
    font-size: 22px;
    background-color: #fff;
    border: 3px solid #F2C15E;
    border-radius: 35px;
    box-shadow: 0 0 none;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}

.operation_active {
    background-color: #F2C15E;
}

.range {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.range__base {
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #F2C15E;
    border-radius: 35px;
}

.range__fill {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 50%;
    height: 24px;
    border-radius: 35px;
    background-color: #F2C15E;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: rgba(242, 155, 143, .7);
}

.answer__buttons {
    display: grid;
    column-gap: 7px;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 85px);
    grid-template-rows: repeat(5, 65px);
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%%;
    height: 60px;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-size: 40px;
    background-color: #fff;
    border: 3px solid #F2C15E;
    border-radius: 35px;
}

.play,
.rules,
.number,
.clear,
.delete,
.enter {
    font-family: inherit;
    font-size: 25px;
    background-color: #fff;
    border: 3px solid #F2C15E;
    border-radius: 35px;
    box-shadow: 0 0 none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-out;
}

button:hover {
    box-shadow: 6px 0px #333333;
}

.enter {
    grid-column: 1 / 4;
    height: 60px;
}

.controls__button {
    display: flex;
    flex-direction: column;
}

.play,
.rules {
    width: 260px;
    height: 60px;
    margin-bottom: 25px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 280px;
    max-width: 300px;
    height: 170px;
    padding: 30px;
    font-size: 30px;
    border: #ffffff solid 3px;
    border-radius: 35px;
    background-color: #F2C15E;
    box-shadow: 6px 0px #333333;
    opacity: 0;
}

.modal_rules::before {
    content: '';
    position: absolute;
    top: -75%;
    right: -100px;
    width: 105px;
    height: inherit;
    background-image: url(./assets/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.modal_rules {
    position: absolute;
    top: 55%;
    right: 400px;
    width: 150px;
    height: 50px;
    padding: 10px 15px;

    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 3px solid #ffffff;
    border-radius: 30px;
    background-color: #F2C15E;
    opacity: 0;
    
}

.modal_show {
    display: flex;
    opacity: 1;
    transition: opacity 1s ease-in-out;

}